:root {
  --background: #eae7dc;
  --color2: #d8c3a5;
  --color3: #8e8d8a;
  --color4: #e98074;
  --color5: #e85a4f;
  /* --head-text:  */
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: var(--text);
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--background);
}

button {
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  /* padding: 10px; */
  margin: 5px;
}

#controls{
  display: flex;
  gap: 3rem;
}

#title{
  font-size: 3rem;
  color: var(--color5);
}

h2{
  color: var(--color4);
}

#session-length,#break-length{
  font-size: 25px;
  color: var(--color4);
}